<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="https://play-lh.googleusercontent.com/lvzf4673crFb4KB8RiVIQcvhpQbzaKTwmBjYQkv6Lq9UaBSftu1M3NSAPxxqvoIkpRA" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4"><b>안해은</b></h1>
        <p>
          <b>이름 : </b> 안해은<br>
          <b>생년월일 :</b>2002년 05월 31일<br>
          <b>성별 : </b>여자<br>
          <b>나이 : </b>23(만22)<br>
          <b>학력</b><br>
          ▪️충주예성초등학교 졸업<br>
          ▪️충주북여자중학교 졸업<br>
          ▪️충주예성여자교등학교 졸업<br>
          ▪️국립한국교통대학교 재학중<br>

        </p>
      </div>
    </div>
  </div>
</main>
